.image_eq img {
  border-radius: 100% !important;
  width: 250px !important;
  height: 250px !important;
  border-style: solid !important;
  padding: 20px !important;

  border-color: red !important;
  margin: 20px !important;
}

.image_eq {
  /*background: linear-gradient(
    -145deg,
    rgba(219, 138, 222, 1) 0%,
    rgba(246, 191, 159, 1) 100%
  ) !important;*/
  display: flex !important;
  width: auto !important;
}
