/*.tagss {
  margin: auto;
  display: flex;
  width: 80%;
  background-color: rgb(248, 250, 250);
  line-height: 40px;
}*/

.tag {
  flex-direction: row;
  font-family: sans-serif;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(250, 243, 250);
  border-bottom: 2px solid #000;
  background: rgb(185, 19, 185);
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 40px;

  transition: all 0.7s;
  padding: 15px;
  /* background-color: rgb(24, 1, 15);
  border: 1px rgba(255, 255, 255, 0.15) solid;
  box-shadow: 0px 3px 10px rgba(255, 255, 255, 0.1);
  /* border-bottom: 5px rgba(255,255,255,.1) solid; 
  color: rgba(255, 255, 255, 0.5);*/
  width: max-content;
  float: left;
  width: 20%;
  border-radius: 20px;
  /* margin-left: 15px;*/
  position: relative;
  margin-right: 20px;
  margin-left: 40px;
  transition: box-shadow 0.5s ease 0s, top 0.5s ease 0s, border 0.5s ease 0s,
    color 0.5s ease 0s;
  top: 0;
}

.tag:first-child {
  margin-left: 0;
}
.tag:hover {
  cursor: pointer;
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.5);
  top: -3px;
  border: 1px rgba(255, 255, 255, 0.3) solid;
  color: rgba(255, 255, 255, 0.8);
  background-color: darkgrey;
  /* border-bottom: 5px rgba(255,255,255,.3) solid; */
}

.tag.active {
  /*font-weight: bold;
    background: rgba(246, 191, 159, 1);
    box-shadow: 0 3px 20px rgba(246, 191, 159, 1);*/

  /* border-bottom: 5px rgba(255, 33, 33, 1) solid; */
  box-shadow: 0px 6px 15px rgba(255, 30, 30, 0.5);
  border: 1px rgba(255, 30, 30, 0.4) solid;
  top: -3px;
  color: rgba(255, 50, 50, 1);
  background-color: beige;
}
/*
.containerr {
  width: 80%;
  margin-top: 10px;
  margin-left: 50px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  border-radius: 2%;
}

.image-card {
  padding: 5px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.image {
  width: 100%;
  height: 100%;
}

.liste {
  width: 100%;
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.wrapper {
  height: 230px;
  width: 254px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  background-color: chartreuse;
}

.product-img {
  float: left;
  height: 220px;
  width: 127px;
  background-color: blueviolet;
}

.product-img img {
  border-radius: 7px 0 0 7px;
}

.product-info {
  float: left;
  height: 230px;
  width: 127px;
  border-radius: 0 8px 10px 8px;
  background-color: red;
}

.product-text {
  height: 250px;
  width: 127px;
  background-color: #4189e1;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 16px;
  font-size: 24px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: "Bentham", serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 9px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #414a4c;
  letter-spacing: 0.15em;
}

.product-text p {
  height: 120px;
  margin: 0 0 0 30px;
  font-family: "Georgia", sans-serif;
  color: #36454f;
  line-height: 1.6em;
  font-size: 15px;
  font-weight: lighter;
  text-align: justify;
  background-color: yellow;
}

.product-price-btn {
  height: 93px;
  width: 310px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #ff0000;
}

span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}*/

.btn {
  height: 200px;
  width: 500px;
  margin: 16px;
  box-sizing: border-box;
  border: solid #0f010c;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #1576d6;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #e141d4;
}

.listes {
  width: 1000px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
.box {
  display: flex;
  width: 350px;
  height: 280px;
  margin: 20px auto;
  padding: 20px;
  transition: 0.4s;
  flex-direction: row;

  border: #000;
}

.box:hover .left {
  transform: translate(40px, -40px);
}
.box:hover .right::after {
  transform: skewy(-45deg) translate(0, -20px);
}

.left {
  flex-basis: 40%;

  background-size: cover;
  background-position: center;
  transition: 0.4s;
  position: relative;
  z-index: 99;
}

.right {
  flex-basis: 50%;
  flex-grow: 1;
  background-color: #f8ccd0;
  text-align: center;
  padding: 50px 30px 50px 60px;
  font-family: arial;
  letter-spacing: 1px;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
}
.right::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  transform: skewy(-45deg) translate(-40px, -20px);
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #f06292;
  transition: 0.4s;
  z-index: 0;
}
